name: Deploy to Github Pages

on: workflow_dispatch

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
      - uses: actions/checkout@v2
      - run: git submodule update --init --recursive

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 14.x
        
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build project
        run: yarn build
      - name: Export static files
        run: yarn export
      - name: Add .nojekyll file
        run: touch ./out/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: out
